<!DOCTYPE html>
<html>
    <head>
    	<title>Cars for Sale: Home</title>
	</head>
	<body>
		<a href="/"><h1>Cars for Sale</h1></a>
		<div>
			<a href="/makes/"><h2>List of makes</h2></a>
		</div>
    	<div>
			<a href="/models/"><h2>List of models</h2></a>
		</div>
		<div>
			<a href="/cars/"><h2>List of cars</h2></a>
		</div>
	</body>
</html>