<!DOCTYPE html>
<html>
	<head>
		<title>Cars for Sale: Home</title>
	</head>
	<body>
		<a href="/"><h1>Cars for Sale</h1></a>
		<nav>
			<a href="/makes/"><h2>List of makes</h2></a>
		
		
			<a href="/models/"><h2>List of models</h2></a>
		
		
			<a href="/cars/"><h2>List of cars</h2></a>
		</nav>
	</body>
</html>