<!DOCTYPE HTML>
<html>
	<head>
		<title>Cars for Sale: Makes</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link rel="stylesheet" type="text/css" href="/smoothness/jquery-ui-1.8.20.custom.css">	
		<script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.8.20.custom.min.js"></script>
	</head>
	<body>
		<a href="/"><h1>Cars for Sale</h1></a>
		<div id="makes">
			<% if (makes.length > 0) { %>
			<ul class="all">
				<% makes.forEach(function(make) { %>
				<li class="make"><a rel="make" href="/makes/<%=make._id%>"><%=make.name%></a></li>
				<% }); %>
			</ul>
			<% } else { %>
			No makes have been added.
			<% } %>
		</div>
		<div class="control">
			<h2>Add or update a new make</h2>
			<script>
				function onFormSubmit(form) {
				form.action = form.action + form.elements['item[id]'].value;
				console.log(form.action);
				return true;
				} 
			</script>
			<form id="make-add/update" method="post" action="/makes/" 
				onsubmit="return onFormSubmit(this);" autocomplete="on">
				<!-- The line above dynamically sets the PUT destination when the -->
				<!-- form is submitted. -------------------------------------------->
				<input type="hidden" name="_method" value="put">
				<!-- The line above tells the server to treat this as a PUT request. -->
				<label>Make ID:<br>(lowercase letters only, no spaces):<br>
					<input name="item[id]" type="text" required list="makeids"
						placeholder="ford">
					<datalist id="makeids">
						<%  makes.forEach(function(make) { %>
						<option value="<%=make._id%>">
						<%=make._id%>
						</option>
						<% }); %>
					</datalist>
				</label>
				<label>Make name:<br> 
					<input name="item[name]" type="text" required
						placeholder="Ford">
				</label>
				<label>Make description:
					<textarea name="item[description]" cols="20" rows="10" 
						placeholder="description of the make">
					</textarea>
				</label>
				<button>Add or update</button>
			</form>
		</div>
	</body>	
</html>