<!DOCTYPE HTML>
<html>
	<head>
		<title>Cars for Sale: Makes</title>
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="/jquery.autocomplete.css">
		<script type="text/javascript" src="/jquery.autocomplete.js"></script>
		<script type="text/javascript">
			$('#suggestmake1').autocoplete(makes.id {
				multiple: true,
				mustMatch: true,
				autoFill: true
			});
			$('#suggestmake2').autocoplete(makes.name {
				multiple: true,
				mustMatch: true,
				autoFill: true
			});
		</script>
	</head>
	<body>
		<a href="/"><h1>Cars for Sale</h1></a>
		<% if (makes.length > 0) { %>
		<ul>
			<% makes.forEach(function(make) { %>
			<li><a href="/makes/<%=make._id%>"><%=make.name%></a></li>
			<% }); %>
		</ul>
		<% } else { %>
		<div>No makes have been added.</div>
		<% } %>
		<div class="control">
			<h2>Add or update a new make</h2>
			<script>
				function onFormSubmit(form) {
				form.action = form.action + form.elements['item[id]'].value;
				console.log(form.action);
				return true;
				} 
			</script>
			<form id="create-make" method="post" action="/makes/" 
				onsubmit="return onFormSubmit(this);">
				<!-- The line above dynamically sets the PUT destination when the -->
				<!-- form is submitted. -------------------------------------------->
				<input type="hidden" name="_method" value="put">
				<!-- The line above tells the server to treat this as a PUT request. -->
				<label>Make ID<br>
					(lowercase letters only, no spaces):<br>
					<input id="suggestmake1" name="item[id]" type="text" pattern="[a-z]+" required
						placeholder="type something">
				</label>
				<label>Make name:<br> 
					<input id="inputmake" name="item[name]" type="text" required
						placeholder="Ford">
					<select id="selectmake">
						<%  makes.forEach(function(make) { %>
						<option value="<%=make._id%>">
						<%=make.name%>
						</option>
						<% }); %>
					</select>
				</label>
				<label>Make description:
					<textarea name="item[description]" cols="20" rows="10" 
						placeholder="description of the item">
					</textarea>
				</label>
				<button>Add or update</button>
			</form>
		</div>
	</body>	
</html>