<!DOCTYPE html>
<html>
	<head>
		<title>Cars for Sale: Models</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<a href="/"><h1>Cars for Sale</h1></a>
		<div id="models">
			<% if (models.length > 0) { %>
			<ul class="all">
				<% models.forEach(function(model) { %>
				<li class="model"><a rel="model" href="/models/<%=model._id%>"><%=model.name%></a></li>
				<% }); %>
			</ul>
			<% } else { %>
			No models found.
			<% } %>
		</div>
		<div class="control">
			<h2>Search for models</h2>
			<form class="model-search" method="get" action="/models/">
        			<label>Car make: 
					<select name="make" required>
						<%  makes.forEach(function(make) { %>
						<option value="<%=make%>">
						<%=make%>
						</option>
						<% }); %>
					</select>
				</label>
        			<button>Search</button>
     			</form>
		</div>
	</body>
</html>