<!DOCTYPE html>
<html>
	<head>
		<title>Cars for Sale: Models</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<a href="/"><h1>Cars for Sale</h1></a>
		<% if (items.length > 0) { %>
		<ul>
			<% items.forEach(function(item) { %>
			<li><a href="/models/<%=item._id%>"><%=item.name%></a></li>
			<% }); %>
		</ul>
		<% } else { %>
		<div>No models found.</div>
		<% } %>
		<div class="control">
			<h2>Search for models</h2>
			<form method="get" action="/models/">
        			<label>Car make: 
					<select name="make" required>
        					<%  items.forEach(function(item) { %>
        					<option value="<%=item.make%>">
					        <%=item.make%>
					        </option>
					        <% }); %>
					</select>
				</label>
        			<button>Search</button>
     			</form>
		</div>
	</body>
</html>