<!DOCTYPE HTML>
<html>
    <head> 
        <title>Cars for Sale: Models</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<a href="/"><h1>Cars for Sale</h1></a>
		<% if (items.length > 0) { %>
		<ul>
			<% items.forEach(function(item) { %>
			<li><a href="/models/<%=item._id%>"><%=item.name%></a></li>
			<% }); %>
		</ul>
		<% } else { %>
		<div>No models have been added.</div>
		<% } %>
		<div class="control">
			<h2>Add or update a new model</h2>
			<script>
			function onFormSubmit(form) {
				form.action = form.action + form.elements['item[id]'].value;
				console.log(form.action);
				return true;
			} 
			</script>
			<form method="post" action="/models/" 
					onsubmit="return onFormSubmit(this);">
				<!-- The line above dynamically sets the PUT destination when the -->
				<!-- form is submitted. -------------------------------------------->
				<input type="hidden" name="_method" value="put">
				<!-- The line above tells the server to treat this as a PUT request. -->
				<label>Model ID<br>
					(lowercase letters only, no spaces):
					<input name="item[id]" type="text" pattern="[a-z]+" required
						placeholder="escape">
				</label>
				<label>Model name: 
					<input name="item[name]" type="text" required
						placeholder="Escape">
				</label>
				<label>Model description:
					<textarea name="item[description]" cols="20" rows="10" 
						placeholder="description of the model">
					</textarea>
				</label>
				<button>Add or update</button>
			</form>
		</div>
	</body>	
</html>